
* {
    padding: 0px;
    margin: 0px;
}


/* HEADER */

header {
    background-color: #D83A56;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1%;
}

nav img{
    height: 90%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.item-nav{
    text-decoration: none;
    color: white;
}




/* FORMULARIO CONTACTO */

.contacto {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10vh auto;
}

h2 {
    text-align: center;
    color: #d14860;
    margin-bottom: 30px;
}

/* Formulario */


.div-form {
    width: 80%;
    max-width: 600px;
    border: 2px solid #f5b5b5;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 10vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.div-input {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #666;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.div-boton {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.boton {
    background-color: #e74c5e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton:hover {
    background-color: #c7434f;
}



